#interactiveImage {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.5s;
    width: 20%;
    max-width: 300px;
    z-index: 2;
    /* Enhanced 3D effects */
    transform: translate3d(0, -50%, 0) rotateY(0deg) rotateX(0deg);
    transition: transform 0.5s ease;
}