body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}
 /* Custom styles for the profile page */
 .profile-container {
    display: flex;
    align-items: center;
}

.profile-text {
    flex: 1;
    padding-right: 20px;
}

.profile-image {
    flex: 1;
    text-align: center;
}

.profile-image img {
    max-width: 100%;
    border-radius: 50%;
}
/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}

    .profile-container {
        text-align: left; /* Align text to the left on small screens */
    }
/* Responsive Design */
@media (max-width: 600px) {
    header nav ul {
    text-align: center;
    }
    header nav ul li {
    display: block;
    margin-bottom: 10px;
    }
    }
/* Animation for page load */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    animation: fadeIn 1s ease-in-out;
} 

/* Styles for the sidebar */
.sidebar {
    width: 150px;
    background-color: #333;
    height: 140vh;
    position: fixed;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.sidebar ul li {
    text-align: center;
}

.sidebar ul li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

/* Styles for the content */
.content {
    margin-left: 200px; /* Adjust this value to match the width of the sidebar */
    padding: 20px;
    width: calc(100% - 200px); /* Adjust this value to subtract the width of the sidebar */
}

/* Profile container styles */
.profile-container {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
    text-align: center; /* Center text on small screens */
}

.profile-image img {
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.profile-image img:hover {
    filter: grayscale(0%);
}


/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .profile-container {
        text-align: left; /* Align text to the left on small screens */
    }
}